
@{
    ViewData["Title"] = "DeleteConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Confirmed</h1>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <p>User was successfully deleted.</p>
    </div>

    <div>
        <p><a href="/Users">Show all</a></p>
    </div>

</asp:Content>
