
@{
    ViewData["Title"] = "NoDeletedLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Information</h1>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <p>No Users have been deleted.</p>
    </div>

    <div>
        <p><a href="/Users">Show All Users</a></p>
    </div>

</asp:Content>
