
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Error</h1>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <p>User was not found!</p>
    </div>

    <div>
        <p><a href="/Users">Show all</a></p>
    </div>

</asp:Content>
